*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header{
    background-color: black;
}

.flex{
    display: flex;
}

.head1{
    background-color: aqua;
}

.head2{
    padding: 50px;
    background-color: lightblue;
}

/*SECTION1*/

.section1{
    background-color: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.IMG{
    background-color: green;
    width: 150px;
}

.TEXT{
    background-color: red;
    width: 150px;
}

/*SECTION2*/

.section2{
    background-color: lightslategray;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.IMG2{
    background-color: green;
    width: 150px;
}

.TEXT2{
    background-color: red;
    width: 150px;
}

/*SECTION3*/

.section3{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.IMG3{
    background-color: green;
    width: 150px;
}

.TEXT3{
    background-color: red;
    width: 150px;
}

/*SECTION4*/

.section4{
    background-color: lightslategray;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.IMG4{
    background-color: green;
    width: 150px;
}

.TEXT4{
    background-color: red;
    width: 150px;
}

/*FOOTER*/

.foot{
    background-color: black;
    height: 100px;
}

